body{
  font-family: sans-serif;
  margin: 0;
}

div#content{
  margin: 8px;
}

#piano{
  margin:auto;
  width:1196px;
}

#visualization{
  width:100%;
  svg{
    width: 100%;
  }
}

footer{
  text-align: center;
  font-size: 0.6em;
  color: #555555;
  font-weight: bold;
  position: fixed;
  bottom: 15px;
  width: 100%;
  a{
    text-decoration: none;
    color: #555555;
  }
  a:hover{
    text-decoration: underline;
  }
}