body{
  font-family: sans-serif;
  margin: 0;
}

div.content{
  margin: 8px;
}

#piano{
  margin:auto;
  width:1196px;
}

footer{
  text-align: center;
  font-size: 0.6em;
  color: #555555;
  font-weight: bold;
  position: absolute;
  bottom: 15px;
  width: 100%;
}