#content{
  font-family: sans-serif;
  background: white;
  padding: 10px;
  footer{
    text-align: center;
    font-size: 0.6em;
    color: #555555;
    font-weight: bold;
    position: fixed;
    bottom: 15px;
    width: 100%;
    a{
      text-decoration: none;
      color: #555555;
    }
    a:hover{
      text-decoration: underline;
    }
  }
}

#piano{
  margin: auto;
  width: 100%;
  svg{
    width: 100%;
  }
}

#visualization{
  width:100%;
  svg{
    width: 100%;
  }
}

